<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pranav.swayamsevakclient">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".contributor_home_page" />
        <activity android:name=".list_available_events" />
        <activity android:name=".show_event_details" />
        <activity android:name=".donate_activity" />
        <activity android:name=".donor_details_added" />
        <activity android:name=".volunteer_adds_donor" />
        <activity android:name=".volunteer_after_donor_added" />
        <activity android:name=".view_contributions" />
        <activity android:name=".update_participant_details" />
        <activity android:name=".participant_unsubscribe" />
        <activity android:name=".participant_confirm_unsubscription" />
        <activity android:name=".participant_unsubscribe_status" />
        <activity android:name=".volunteer_home" />
        <activity android:name=".volunteer_logout"></activity>
    </application>

</manifest>